extends layout

block content
  .pusher
    +sidebar()
    .article
      .main.ui.intro.container
        +header('Редактирование клиента - ' + data.surname + ' ' + data.name)
        +breadcrumb([{link: '/', label: 'Главная'}, {link: '/customers', label: 'Клиенты'}], title)
        form.ui.form(method='post', action='/customers/'+data.id_customer)
          .field
            label Фамилия
            input(type='text', value=data.surname name='surname', placeholder='Фамилия')
          .field
            label Имя
            input(type='text', value=data.name name='name', placeholder='Имя')
          .field
            label Телефон
            input(type='text', value=data.phone_number name='phone_number', placeholder='Телефон')
          button.ui.button(type='submit') Сохранить