mixin sidebar()
  .full.height
    .toc
      .ui.vertical.inverted.menu
        .item
          a.ui.logo.icon.image(href='/')
            img(src='https://source.unsplash.com/random/35x35')
          a(href='/')
            b Отдел ремонта
        .item
          .header Таблицы
          .menu
            a.item(href='/customers') Клиенты
            a.item(href='/products') Товары
            a.item(href='/sheets') Ремонтные листы
        .item
          .header
            a.ui.logo.icon.image(href='/')
              img(src='https://source.unsplash.com/random/35x35')
            | Имя Фамилия
          .menu
            a.item(href='#') Информация
            a.item(href='#') Выйти

mixin breadcrumb(history, active)
  #kroski.ui.breadcrumb
    each val, index in history
      a.section(href=val.link)= val.label
      .divider  /
    .active.section= active

mixin header(text)
  h1.ui.header= text