extends layout

block content
  .pusher
    +sidebar()
    .article
      .main.ui.intro.container
        +header('Просмотр ремонтного листа - ' + data.name_product)
        +breadcrumb([{link: '/', label: 'Главная'}, {link: '/sheets', label: 'Ремонтные листы'}], title)
        .ui.items
          .item
            .image
              img(src='https://source.unsplash.com/random/175x175')
            .content
              a.header= data.name_product
              .meta
                span Ремонтный лист
              .description
                p

