extends layout

block content
  .pusher
    +sidebar(user)
    .article
      .main.ui.intro.container
        +header('Статистика')
        +breadcrumb([{link: '/', label: 'Главная'}], title)
        div(data-v-5031b956='')
          p(data-v-5031b956='') &Vcy; &rcy;&iecy;&mcy;&ocy;&ncy;&tcy;&iecy;: 5
          p(data-v-5031b956='') &Ocy;&tcy;&rcy;&iecy;&mcy;&ocy;&ncy;&tcy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&ncy;&ocy;: 0
          p(data-v-5031b956='') &Zcy;&acy; &mcy;&iecy;&scy;&yacy;&tscy;: 5
          p(data-v-5031b956='')




